<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>

<style>
body{
	/* background-image: linear-gradient(to right top, #1f0537, #380c60, #55108c, #7413bb, #9612eb); */
	background-image: url("public/images/BG.png");
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
</style>
</head>
<body>
	<section>
		<div class="container">
			<div class="row">
				<div class="col-md-2"></div>
				<div class="col-md-8">
					<div>
						<img src="" alt="">
					</div>
					<div>
						<img src="" alt="">
					</div>
					<div>
						<h1>Happy Birthday</h1>
					</div>
					<div>
						<p>The way you throw yourself into your study and give your best is truly praiseworthy!</p>
						<p>Congratulation to you and may have the most incredible celebration today as you've certainly earned it!</p>
					</div>
					<div>
						<img src="" alt="">
					</div>
				</div>
				<div class="col-md-2"></div>
			</div>
		</div>
	</section>
</body>
</html>